{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Index{% endblock %}

{% block body %}
<head>
       <link rel="stylesheet" href="{{ asset('css/ajoutFiche.css') }}">

</head>
 <div class=" classs">
    <h1>Créer un nouvel index</h1>

    {{ include('index/_form.html.twig') }}</br>

    </div>
{% endblock %}
