{% extends 'base.html.twig' %}

{% block title %}Mot de passe changé{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <!-- Bootstrap Modal -->
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mot de passe modifié</h5>
                </div>
                <div class="modal-body text-center">
                    <p>Votre mot de passe a été réinitialisé avec succès.</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
