<form method="post" action="{{ path('mot_cle_app_mot_cle_delete', {'id': mot_cle.idMotCle}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce mot clé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mot_cle.idMotCle) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
