{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
</head>

    <link rel="stylesheet" href="{{ asset('css/listeUsers.css') }}">

</head>
       <div class="classs" >
    <h1>Réinitialiser le mot de passe</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</div>
{% endblock %}
