{% extends 'base.html.twig' %}

{% block title %}Modifier Statut{% endblock %}

{% block body %}
<head>
       <link rel="stylesheet" href="{{ asset('css/ajoutFiche.css') }}">

</head>
 <div class=" classs">
    <h1>Modifier Statut</h1>

{{ include('statut/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    </div>
{% endblock %}
